.herosection{
  padding:160px 0 120px 0;
}

.herosection_content{
  display:flex;
  flex-direction:column;
  gap:100px;
}

.herosection_blurs{
  position:relative;
}

.herosection_blur_primary{
  position:absolute;
  top:-80px;
  left:-50px;
}

.herosection_blur_secondary{
  position:absolute;
  right:0;
  bottom:120px;
}

.herosection_heading{
  text-align: right;
  display:flex;
  flex-direction:column;
  gap:40px;
}

.herosection_heading3{
   color:#545454;
}

.herosection_portfolio{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.herosection_port_button{
  font-weight:500;
  font-size:24px;
}

.herosection_thumbnails{
  display:flex;
  gap:20px;
}

.herosection_image{
width:100%;
max-width:220px;
}

.herosection_portfolio a{
  z-index:1;
}