.technologies {
  background-color: #0f0f1c;
  color: white;
  padding: 100px 0;
}
.technologies_title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 100px;
}

.technologies_element {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
  justify-items: center;
  /* box-sizing:border-box; */
}

.technologies_box {
  display: flex;
  flex-direction: column;
}

.technologies_icons {
  height: 100px;
  width: auto;
}

.technologies_name {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1000px) {
  .technologies_element {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .technologies_title {
    text-align: center;
    font-size: 40px;
    padding-bottom: 80px;
  }

  .technologies_element {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .technologies_icons {
    height: 70px;
    width: auto;
  }
  .technologies_name {
    padding-top: 15px;
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .technologies_title {
    text-align: center;
    font-size: 30px;
    padding-bottom: 50px;
  }

  .technologies_element {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    row-gap: 20px;
  }

  .technologies_icons {
    height: 65px;
    width: auto;
  }
  .technologies_name {
    padding-top: 15px;
    font-size: 16px;
  }
}
