.multi_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.multi_img {
  max-width: 1200px;
  width: 100%;
}

.multi_text {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 750px) {
  .multi_content {
    gap: 50px;
  }
}
