.contact {
  color: black;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height:100dvh;
}

.contact_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_title {
  text-align: center;
  padding-bottom: 50px;
}

.contact_container {
  display: flex;
  flex-direction: column;
}

.contact_text {
  text-align: justify;
  max-width: 1200px;
  padding-bottom: 50px;
}

.contact_form {
  display: flex;
  flex-direction: column;
}
.contact_form_input {
  display: block;
  background-color: inherit;
  font-family: "Outfit", sans-serif;
  border: 1px solid black;
  border-radius: 4px;
  color: #545454;
  padding: 10px 15px;
  width: 100%;
}
.contact_form_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  max-width: 800px;
  align-items: center;
  padding-bottom: 30px;
}

.contact_form_input--text {
  resize: vertical;
}

.form_button {
  background-color: black;
  padding: 10px 50px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  width: fit-content;
  cursor: pointer;
  align-self: center;
}

.contact_error_text {
  color: #954edd;
  text-align: left;
  width: 100%;
  margin-top: 5px;
}

.form_button:hover {
  background-color: #372c53;
}

@media (max-width: 750px) {
  .contact_title {
    font-size: 40px;
  }

  .contact_text {
    line-height: 1.5;
    font-size: 18px;
  }

  .contact_form_input {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .contact_title {
    font-size: 30px;
  }

  .contact_text {
    line-height: 1.2;
    font-size: 16px;
  }

  .contact_form_input {
    font-size: 16px;
  }

  .form_button {
    width: 100%;
  }
}
