.lamp_img_div {
  display: flex;
}

.lamp_img {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: contain;
  align-self: flex-start;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: fit-content;
  max-width: 1200px;
}

.slider_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slider_image {
  height: 100%;
  width: auto;
  max-height: 600px;
}

@media (max-width: 450px) {
  .slider {
    height: auto;
    width: 100%;
  }
}
