.projects_lamp {
  background-color: #0f0f1c;
  color:#f2eef9;;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100dvh;
}

.projects_lamp_content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.projects_lamp_hero {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.lamp_img_div {
  display: flex;
  gap: 20px;
  min-height: 500px;
}

.lamp_img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  align-self: flex-start;
}

.lamp_axo_img {
  width: 100%;
  max-width: 250px;
  object-fit: contain;
  align-self: flex-end;
  height: auto;
}

.lamp_main_text {
  max-width: 650px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lamp_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: fit-content;
  max-width: 1200px;
}

.lamp_slider_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.lamp_slider_image {
  height: 100%;
  width: auto;
  max-height: 600px;
}

@media (max-width: 1300px) {
  .projects_lamp_hero {
    flex-direction: column;
    align-items: center;
  }

  .lamp_main_text {
    max-width: 1200px;
  }

  .lamp_img {
    object-fit: contain;
  }
}

@media (max-width: 750px) {
  .lamp_img_div {
    flex-direction: column;
    max-width: 500px;
  }

  .lamp_axo_img,
  .lamp_img {
    max-width: fit-content;
  }
}

@media (max-width: 450px) {
  .lamp_slider {
    height: auto;
    width: 100%;
  }
}
