.approach{
  background-color: #0f0f1c;
  color: white;
  padding-top:100px;
  padding-bottom:50px;
}

.approach_title{
  text-align: center;
  font-size: 50px;
  padding-bottom: 100px;
}

.approach_content{
display:flex;
gap:50px;
flex-direction:column;
align-items:center;
}

.approach_text_div{
  position:relative;
  overflow:hidden;
  max-width:1200px;
}

.approach_text_element{
/* left:-100px; */
opacity:0;
transition:all 1s ease-in-out;
/* transform:translateY(20px); */
display:flex;
flex-direction:column;
height: 0;
transform: translateY(20px);
transition: max-height 0.8s cubic-bezier(0.25, 1, 0.5, 1), /* Smooth height */
opacity 0.8s ease-in-out, /* Smooth fade */
transform 0.8s cubic-bezier(0.25, 1, 0.5, 1) /* Smooth movement */

}

.approach_text_element.active{
  opacity:1;
  /* height:100%; */
  height:auto;
  transform: translateY(0);
  /* transform:translateY(0); */
}
.approach_text{
  font-size:18px;
  line-height:45px;
  top:100px;
  text-align:justify;
}

.approach_timeline_div{
  display:flex;
  flex-direction:row;
  align-items:center;
  width:fit-content;
  gap:70px;
  max-height: 200px;
  position:relative;
}

.approach_text_element.hidden{
  opacity:0;
  transform:translateY(20px);
  height:0;
  overflow:hidden;
}

.approach_header{
    text-align:center;
    font-size:35px;
    padding-bottom:50px;
    font-weight:500;
}


.approach_circle{
    border-radius:50%;
    width:60px;
    height:60px;
    cursor:pointer;
    opacity:0.5;
    transition:all 0.3s ease-in-out;
}


.approach_circle_div.active_circle .approach_circle{
  transform:scale(1.5);
  opacity:1;
}

@media (max-width: 1000px){

.approach_text{
  line-height: 1.5;
}

.approach_timeline_div{
padding:0 70px;
}

}

@media (max-width:900px){


.approach_timeline_div{
  flex-direction:row;
  padding:0;
  width:auto;
  justify-content:center;
}

}

@media(max-width:750px){
  .approach_text{
    line-height: 1.2;
    font-size:16px;
  }

  .approach_title{
    font-size:40px;
  }

  .approach_header{
    font-size:30px;
  }
}

@media(max-width:450px){
  .approach_circle{
    width:55px;
    height:auto;
  }

  .approach_title{
    font-size:30px;
  }

  .approach_header{
    font-size:25px;
  }
}

@media(max-width:370px){
  .approach_circle{
    width:45px;
    height:auto;
  }
}
