.collaborate{
  background-color: #101012;
}

.collaborate_content{
  display:flex;
  flex-direction: column;
  gap:40px;
  min-height: 800px;
}

.collaborate_text{
  display:flex;
  justify-content: space-between;

}

.collaborate_heading{
    color: white;
    padding-top:60px;
}

.collaborate_primary{
  color:#ADADAD;
  font-size:40px;
  font-weight: 400;
}

.collaborate_secondary{
    display:flex;
    flex-direction:column;
    gap:40px;
    justify-content: flex-end;
    padding-bottom: 140px;
}
.collaborate_point{
    display:flex;
    gap:24px;
    align-items: center;
    max-width:540px;
    font-size: 18px;
    text-align: justify;
    color:#ADADAD;
}

.collaborate_point img{
width:100%;
max-width: 30px;
}

.collaborate_button{
  text-decoration: none;
  color:white;
  font-size: 24px;
  font-weight: 500;
  padding-left:54px;
}