.collaborate{
  background-color: #101012;
}

.collaborate_content{
  display:flex;
  gap:40px;
  min-height: 800px;
  justify-content: space-between;
}

.collaborate_text{
  display:flex;
  justify-content: space-between;

}

.collaborate_heading{
    color: white;
    padding-top:60px;
}

.collaborate_primary{
  color:white;
  padding-left:54px;
}

.collaborate_secondary{
    display:flex;
    flex-direction:column;
    gap:40px;
    justify-content: flex-end;
    padding-bottom: 140px;
}
.collaborate_point{
    display:flex;
    gap:24px;
    align-items: center;
    max-width:540px;
    text-align: justify;
    color:#ADADAD;
}

.collaborate_point img{
width:100%;
max-width: 30px;
}

.collaborate_button{
  color:white;
  padding-left:54px;
}

@media (max-width: 900px) {
  .collaborate_content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 100px;
    min-height:400px;
  }

  .collaborate_point {
    flex-direction: column;
  }
  .collaborate_point p {
    text-align: center;
  }

  .collaborate_button,.collaborate_primary{
  padding-left:0;
}
}
