.projectpreview_content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.projects_preview_button {
  display: none;
}

.projectspreview_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading2.projectspreview_header span {
  font-size: 24px;
  font-weight: 500;
}

.projectspreview_thumbnail{
  position:relative;
  overflow:hidden;
  border-radius:20px;
  display:block;
}

.projectspreview_overlay{

}

.projectspreview_images {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projectspreview_images img {
  border-radius: 20px;
  width: 100%;
}

.projectspreview_image_primary, .projectspreview_image_secondary {
  width: 100%;
  height:auto;
  display:block;
}

.projectspreview_image_row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.projectspreview_overlay{
  position:absolute;
  background:rgba(0,0,0,0.6);
  top:0;
  left:0;
  width:100%;
  height:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  transition:all 0.5s ease-in-out;
  pointer-events:none;
  font-size:2rem;
  font-weight:600;
}

.projectspreview_thumbnail:hover .projectspreview_overlay{
opacity:1;
}

.projectspreview_duemark{
    border:solid 1px #adadad;
  }

@media (max-width: 700px) {
  .projectspreview_images img {
    border-radius: 16px;
  }
  .projectspreview_images {
    gap: 20px;
  }
  .projectspreview_image_row {
    flex-direction: column;
      gap: 20px;
  }

  .projectspreview_header {
    justify-content: center;
  }

  .projectspreview_header a {
    display: none;
  }

  .projects_preview_button {
    display: block;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .projectspreview_images img {
    border-radius: 12px;
  }

  .projectspreview_images {
    gap: 12px;
  }
  .projectspreview_image_row {
    flex-direction: column;
      gap: 12px;
  }
}
